<div class="container mt-3">
  <div class="row g-3">
    <div class="col-md-8">
      <input type="text" class="form-control" id="search" [(ngModel)]="keyword">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="buscar()">Buscar</button>
    </div>
  </div>
  <div *ngIf="success === true">
    <div class="row g-3">
      <div class="col-md-4" *ngFor="let product of products">
        <img src="{{product.img}}" class="product-img" alt="...">
        <div class="">
          <h5 class="">{{product.name}}</h5>
          <p class="">${{product.price}} USD</p>
          <p *ngIf="product.listPrice != null" class="tachado">${{product.listPrice}} USD</p>
          <!-- <a href="{{product.url}}" class="btn " target="_blank">{{product.store}}</a> -->
          <a [ngClass]="{'btn-primary': product.store == 'Walmart', 'btn-warning': product.store == 'Amazon'}"
          href="{{product.url}}" class="btn" target="_blank">{{product.store}}</a>
        </div>
      </div>
    </div>
  </div>
</div>